:root {
    --green: #2e7d32;
    --light: #66bb6a;
    --earth: #8d6e63;
}

body {
    font-family: Arial;
}

.bg-green {
    background-color: var(--green);
}

.btn-green {
    background-color: var(--green);
    color: white;
}

.btn-green:hover {
    background-color: var(--light);
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://Saahas Zero Waste offers professio/photo-1581579188871-45ea61f2a0c8');
    background-size: cover;
    background-position: center;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
